<div class="register">
    <div class="text-center registhead">
        <h2>Bilan</h2>
    </div>
    <form>
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Weight</mat-label>
                    <input matInput type="text"  >
                    <!-- <mat-hint color="warn">must more than 5</mat-hint> -->
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">          
                <mat-form-field appearance="outline" color="warn">                    
                    <mat-label>Height</mat-label>
                    <input matInput type="email"  >
                </mat-form-field>
            </div>

            <!-- <div class="col-md-6 col-sm-12">
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>Height </mat-label>
                    <input matInput type="password"  >
                </mat-form-field>
            </div> -->

            <!-- <div class="col-md-6 col-sm-12">             
                <mat-form-field appearance="outline" color="warn">
                    <mat-label>تاكيد كلمة المرور</mat-label>
                    <input matInput type="password"  >
                </mat-form-field>
            </div> -->
        </div>
      <div class="text-left registfoot">
          <a routerLink="/calculation" color="primary">back to calculate bmi</a>
            <!-- <button mat-raised-button style="background-color: #626370;color: white;" type="submit"> Calculate</button> -->
      </div>
     </form>
</div>
